Repository tranductung07012004/devOps_1_spring-petclinic-microservices: changes, and which Jenkins stages are due for each by the changed paths.
All: Build - Customers Service, Build - Genai Service, Build - Vets Service, Build - Visits Service

Build - Customers Service:
                      steps {
                          echo "Building Customers Service..."
                          dir('spring-petclinic-customers-service') {
                              sh './mvnw clean install -DskipTests'
                          }
                      }
                  

Build - Genai Service:
                      steps {
                          echo "Building Genai Service..."
                          dir('spring-petclinic-genai-service') {
                              sh './mvnw clean install -DskipTests'
                          }
                      }
                  

Build - Vets Service:
                      steps {
                          echo "Building Vets Service..."
                          dir('spring-petclinic-vets-service') {
                              sh './mvnw clean install -DskipTests'
                          }
                      }
                  

Build - Visits Service:
                      steps {
                          echo "Building Visits Service..."
                          dir('spring-petclinic-visits-service') {
                              sh './mvnw clean install -DskipTests'
                          }
                      }
                  

Changes
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Visits Service

Changes
  Jenkinsfile
Due: none

Changes
  spring-petclinic-genai-service/src/main/java/org/springframework/samples/petclinic/genai/PetclinicChatClient.java
Due: Build - Genai Service

Changes
  spring-petclinic-customers-service/src/main/java/org/springframework/samples/petclinic/customers/CustomersServiceApplication.java
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
Due: Build - Customers Service, Build - Vets Service

Changes
  spring-petclinic-customers-service/src/main/java/org/springframework/samples/petclinic/customers/CustomersServiceApplication.java
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Customers Service, Build - Vets Service, Build - Visits Service

Changes
  spring-petclinic-genai-service/src/main/java/org/springframework/samples/petclinic/genai/AIDataProvider.java
Due: Build - Genai Service

changes
  Jenkinsfile
Due: none

changes
  spring-petclinic-genai-service/src/main/java/org/springframework/samples/petclinic/genai/AIDataProvider.java
Due: Build - Genai Service

changes
  Jenkinsfile
  spring-petclinic-genai-service/src/main/java/org/springframework/samples/petclinic/genai/AIDataProvider.java
Due: Build - Genai Service

Changes
  Jenkinsfile
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/web/VisitResource.java
Due: Build - Vets Service, Build - Visits Service

changes
  spring-petclinic-customers-service/src/main/java/org/springframework/samples/petclinic/customers/CustomersServiceApplication.java
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
Due: Build - Customers Service, Build - Vets Service

changes
  spring-petclinic-customers-service/src/main/java/org/springframework/samples/petclinic/customers/CustomersServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Customers Service, Build - Visits Service

changes
  spring-petclinic-customers-service/src/main/java/org/springframework/samples/petclinic/customers/CustomersServiceApplication.java
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Customers Service, Build - Vets Service, Build - Visits Service

changes
  Jenkinsfile
  spring-petclinic-customers-service/src/main/java/org/springframework/samples/petclinic/customers/CustomersServiceApplication.java
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Customers Service, Build - Vets Service, Build - Visits Service

changes
  Jenkinsfile
  spring-petclinic-visits-service/pom.xml
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Visits Service

changes
  Jenkinsfile
  spring-petclinic-visits-service/pom.xml
Due: Build - Visits Service

changes
  spring-petclinic-vets-service/pom.xml
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Vets Service, Build - Visits Service

changes
  Jenkinsfile
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Vets Service, Build - Visits Service

changes
  pom.xml
  spring-petclinic-vets-service/pom.xml
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Vets Service, Build - Visits Service

changes
  Jenkinsfile
  pom.xml
  spring-petclinic-vets-service/pom.xml
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/pom.xml
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Vets Service, Build - Visits Service

hehe
  Jenkinsfile
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Vets Service, Build - Visits Service

changes
  Jenkinsfile
  pom.xml
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Vets Service, Build - Visits Service

changes
  spring-petclinic-vets-service/src/main/java/org/springframework/samples/petclinic/vets/VetsServiceApplication.java
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Vets Service, Build - Visits Service

changes
  spring-petclinic-visits-service/src/main/java/org/springframework/samples/petclinic/visits/VisitsServiceApplication.java
Due: Build - Visits Service

Path conditions:
  Build - Customers Service: any of: spring-petclinic-customers-service/**
  Build - Genai Service: any of: spring-petclinic-genai-service/**
  Build - Vets Service: any of: spring-petclinic-vets-service/**
  Build - Visits Service: any of: spring-petclinic-visits-service/**
